/* * {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html, 
body, 
#root {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

html.light {
  background-color: #e7e7e7;
}

html.light body {
  background-color: #e7e7e7;
}

html.light body #root {
  background-color: #e7e7e7;
}

html.dark {
  background-color: #000011;
}

html.dark body {
  background-color: #000011;
}

html.dark body #root {
  background-color: #000011;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flex-center-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-space-between-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
} */